<div class="row">
    <div class="col-6 p-3 bg-success text-center">
        <h3>One way</h3>
    </div>
    <div class="col-6 p-3 bg-primary text-center">
        <h3>two way</h3>
    </div>
</div>

<div class="row">
    <div class="col-6 p-3 bg-success text-center">
        <h3>One way</h3>
    </div>
    <div class="col-6 p-3 bg-primary text-center">
        <h3>two way</h3>
    </div>
</div>

<div class="row">
    <div class="col-6 p-3 bg-success text-center">
        <h3>One way</h3>
    </div>
    <div class="col-6 p-3 bg-primary text-center">
        <h3>two way</h3>
    </div>
</div>

<button class="btn btn-primary" (click)="showmessage()">
    click here
</button>
<input type="text" [(ngModel)]="coursename"/>
<input type="text" [value]="coursename"/>

